@page "/set-member-password/{id}"
@model Lab03.Areas.Admin.Pages.Role.SetPasswordModel
@{
    // ViewData["Title"] = "Set password for";
    ViewData["Title"] = "Thiết lập mật khẩu cho";
}

<div>
    <h3>@ViewData["Title"] @Model.user.UserName</h3>
    <partial name="_StatusMessage" for="StatusMessage" />
    <div class="row">
        <div class="col-md-6">
            <form id="set-password-form" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <label asp-for="Input.NewPassword" class="form-label">Nhập mật khẩu mới của bạn</label>
                    <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Vui lòng nhập ..." />

                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <label asp-for="Input.ConfirmPassword" class="form-label">Nhập lại mật khẩu mới của bạn</label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Vui lòng nhập lại ..." />

                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-primary">Cập nhật mật khẩu</button>
                @* <a class="btn btn-primary" asp-page="./User">Danh sách</a> *@
                <a class="btn btn-primary" asp-page="./User">Quay về</a>
            </form>
        </div>
    </div>

    @section Scripts {

        <partial name="_ValidationScriptsPartial" />
    }

</div>