@{
    ViewData["Title"] = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Single Page Header start -->
<div class="container-fluid contact " style="margin-top: 150px">
    <h1 class="text-center text-black display-6">Về chúng tôi</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
        @* <li class="breadcrumb-item active text-black"><a href="@Url.Action("AboutUs", "Home")">Về chúng tôi</a></li> *@
        <li class="breadcrumb-item active text-black">Về chúng tôi</li>
    </ol>
</div>
<!-- Single Page Header End -->
@* <div class="panel panel-primary">
    <div class="panel-heading panel-heading-prod">
        <i class="fa fa-info-circle"></i> *@
<div id="content" class="col-sm-12">

    <h1 class="title page-title"> <i class="fa fa-info-circle"></i>Thông tin cửa hàng</h1>

</div>
<div class="panel-body" style="text-align:justify">
    <p>
        Chào mừng bạn đến với SIXTY SHOP - điểm đến lý tưởng cho những người yêu
        thich giày dép, đặc biệt là sneaker! SIXTY SHOP không chỉ là một cửa hàng giày sneaker thông thường, mà còn là điểm
        đến tuyệt vời cho những người đam mê thời trang, thích sưu tầm giày vì đường nét của giày
        quá sắc xảo cũng như thể thao khi dùng giày với mục đích nâng cao sức khỏe!

    </p>
    <p>
        Tại SIXTY SHOP, chúng tôi cung cấp một loạt các sản phẩm chất lượng cao từ
        giày cho đến cả phụ kiện chăm sóc chính đôi giày sneaker của
        bạn. Chúng tôi cam kết mang lại những sản phẩm an toàn và chất lượng nhất cho
        bạn, mang lại trải nghiệm một cách tuyệt vời nhất.
    </p>
    <p>
        Ngoài ra, SIXTY SHOP cũng là một nguồn thông tin hữu ích về cách chăm sóc
        cũng như cách decor đôi giày của bạn. Chúng tôi cung cấp các bài viết, hướng dẫn và tips từ
        các chuyên gia hàng đầu trong lĩnh vực giày dép và chế tạo sneaker, giúp bạn hiểu rõ
        hơn về tất tần tật các nhu cầu của bạn có liên quan đến giày.
    </p>
    <p>
        Hãy ghé thăm SIXTY SHOP ngay hôm nay để khám phá thế giới đa dạng và phong
        phú của các sản phẩm và dịch vụ tối ưu cho bạn về sneaker, và mang về những trải nghiệm tuyệt vời
        nhất cho bạn khi mang trên chân một đôi giày đẹp, sang xịn mịn!
    </p>
</div>
@* </div> *@

@* <div class="panel panel-primary">
    <div class="panel-heading panel-heading-prod">
        <i class="fa fa-info-circle"></i> *@
<div id="content" class="col-sm-12">

    <h1 class="title page-title"><i class="fa fa-info-circle"></i>Thông tin chuyển khoản</h1>

</div>
<div class="panel-body" style="text-align:justify">
    <p>Vui lòng chuyển khoản thanh toán đến một trong các tài khoản sau:</p>
    <ul>
        <li><strong>Ngân hàng ABC:</strong> Số tài khoản: 1234567890</li>
        <li><strong>Ngân hàng XYZ:</strong> Số tài khoản: 0987654321</li>
        <li><strong>Ngân hàng DEF:</strong> Số tài khoản: 5432109876</li>
    </ul>
    <p>
        Xin vui lòng ghi rõ thông tin đơn hàng khi chuyển khoản. Đơn hàng sẽ được
        xác nhận sau khi nhận được thanh toán.
    </p>
</div>
@* </div> *@

<div id="content" class="col-sm-12">

    <h1 class="title page-title"><i class="fa fa-info-circle"></i>Điều khoản sử dụng</h1>

    <div class="content">
        <p style="text-align:justify"><em><span style="font-size:18px"><span style="font-family:times new roman,times,serif">Chào mừng bạn đến mua hàng qua mạng tại <a href="@Url.Action("Index", "Home")"><strong>Sixty.vn</strong></a>. Sau khi truy cập vào website để tham khảo hoặc mua sắm, bạn đã đồng ý tuân thủ và ràng buộc với những quy định của <span style="line-height:20.8px">Sixty.vn</span>. Vui lòng xem kỹ các quy định và hợp tác với chúng tôi để xây dựng 1 website <span style="line-height:20.8px">Sixty.vn</span> ngày càng thân thiện và phục vụ tốt những yêu cầu của chính bạn. Ngoài ra, nếu có bất cứ câu hỏi nào về những thỏa thuận trên đây, vui lòng email cho chúng tôi qua địa chỉ:&nbsp;<span style="line-height:20.8px">cskh</span><span style="line-height:20.8px"></span></span></span></em></p>

        <p style="text-align:justify">
            <span style="font-size:18px">
                <span style="font-family:times new roman,times,serif">
                    <strong>1. Tài khoản của bạn</strong><br>
                    Khi sử dụng dịch vụ <span style="line-height:20.8px">Sixty.vn</span>, bạn sẽ cung cấp cho chúng tôi thông tin về địa chỉ email, mật khẩu và họ tên để có được 1 tài khoản tại đây. Việc sử dụng và bảo mật thông tin tài khoản là trách nhiệm và quyền lợi của bạn khi sử dụng <span style="line-height:20.8px">Sixty.vn</span>. Ngoài ra, những thông tin khác trong tài khoản như tên tuổi, địa chỉ.... là những thông tin sẽ giúp <span style="line-height:20.8px">Sixty.vn</span> phục vụ bạn tốt nhất. Trong trường hợp thông tin do bạn cung cấp không đầy đủ hoặc sai dẫn đến việc không thể giao hàng cho bạn, chúng tôi có quyền đình chỉ hoặc từ chối phục vụ, giao hàng mà không phải chịu bất cứ trách nhiệm nào đối với bạn. Khi có những thay đổi thông tin của bạn, vui lòng cập nhật lại thông tin trong tài khoản tại <span style="line-height:20.8px">Sixty.vn</span>. Bạn phải giữ kín mật khẩu và tài khoản, hoàn toàn chịu trách nhiệm đối với tất cả các hoạt động diễn ra thông qua việc sử dụng mật khẩu hoặc tài khoản của mình. Bạn nên đảm bảo thoát khỏi tài khoản tại <span style="line-height:20.8px">Sixty.vn</span> sau mỗi lần sử dụng để bảo mật thông tin của mình
                </span>
            </span>
        </p>

        <p style="text-align:justify">
            <span style="font-size:18px">
                <span style="font-family:times new roman,times,serif">
                    <strong>2. Quyền lợi bảo mật thông tin của bạn</strong><br>
                    Khi sử dụng dịch vụ tại website <span style="line-height:20.8px">Sixty.vn</span>, bạn được đảm bảo rằng những thông tin cung cấp cho chúng tôi sẽ chỉ được dùng để nâng cao chất lượng dịch vụ dành cho khách hàng của <span style="line-height:20.8px">Sixty.vn</span> và sẽ không được chuyển giao cho 1 bên thứ ba nào khác vì mục đích thương mại. Thông tin của bạn tại <span style="line-height:20.8px">Sixty.vn</span> sẽ được chúng tôi bảo mật và chỉ trong trường hợp pháp luật yêu cầu, chúng tôi sẽ buộc phải cung cấp những thông tin này cho các cơ quan pháp luật.
                </span>
            </span>
        </p>

        <p style="text-align:justify">
            <span style="font-size:18px">
                <span style="font-family:times new roman,times,serif">
                    <strong>3. Trách nhiệm của bạn khi sử dụng dịch vụ của Sixty.vn</strong><br>
                    Bạn tuyệt đối không được sử dụng bất kỳ công cụ, phương pháp nào để can thiệp, xâm nhập bất hợp pháp vào hệ thống hay làm thay đổi cấu trúc dữ liệu tại website <span style="line-height:20.8px">Sixty.vn</span>. Bạn không được có những hành động ( thực hiện, cổ vũ) việc can thiệp, xâm nhập dữ liệu của <span style="line-height:20.8px">Sixty.vn</span> cũng như hệ thống máy chủ của chúng tôi Ngoài ra, xin vui lòng thông báo cho quản trị web của <span style="line-height:20.8px">Sixty.vn</span> ngay khi bạn phát hiện ra lỗi hệ thống theo số điện thoại 0973711868&nbsp;hoặc email: cskh@Sixty.vn
                </span>
            </span>
        </p>

        <p style="text-align:justify"><span style="font-size:18px"><span style="font-family:times new roman,times,serif"><span style="line-height:1.6em">Bạn không được đưa ra những nhận xét, đánh giá có ý xúc phạm, quấy rối, làm phiền hoặc có bất cứ hành vi nào thiếu văn hóa đối với người khác. Không nêu ra những nhận xét có tính chính trị ( tuyên truyền, chống phá, xuyên tạc chính quyền), kỳ thị tôn giáo, giới tính, sắc tộc.... Tuyệt đối cấm mọi hành vi mạo nhận, cố ý tạo sự nhầm lẫn mình là một khách hàng khác hoặc là thành viên Ban Quản Trị Sixty.vn.</span></span></span></p>

        <p style="text-align:justify">
            <span style="font-size:18px">
                <span style="font-family:times new roman,times,serif">
                    <strong>4. Trách nhiệm và quyền lợi của Sixty.vn</strong><br>
                    Trong trường hợp có những phát sinh ngoài ý muốn hoặc trách nhiệm của mình, <span style="line-height:20.8px">M</span><span style="line-height:20.8px">yshoes.vn</span> sẽ không chịu trách nhiệm về mọi tổn thất phát sinh. Ngoài ra, chúng tôi không cho phép các tổ chức, cá nhân khác quảng bá sản phẩm tại website <span style="line-height:20.8px">M</span><span style="line-height:20.8px">yshoes.vn</span> mà chưa có sự đồng ý bằng văn bản từ <span style="line-height:20.8px">M</span><span style="line-height:20.8px">yshoes.vn</span>. Các thỏa thuận và quy định trong Điều khoản sử dụng có thể thay đổi vào bất cứ lúc nào nhưng sẽ được <span style="line-height:20.8px">M</span><span style="line-height:20.8px">yshoes.vn</span> thông báo cụ thể trên website <span style="line-height:20.8px">M</span><span style="line-height:20.8px">yshoes.vn</span>.
                </span>
            </span>
        </p>
    </div>
</div>

<div id="content" class="col-sm-12">
    <h1 class="title page-title"><i class="fa fa-info-circle"></i>Chính sách bảo mật</h1>

    <div class="content">
        <p style="text-align:justify"><span style="font-size:18px"><span style="font-family:times new roman,times,serif">Bảo mật thông tin khách hàng là một trong những ưu tiên nhằm tạo điều kiện&nbsp;mua hàng trực tuyến&nbsp;tốt nhất cho bạn tại <strong>Sixty.vn</strong>. Chúng tôi hiểu sử dụng hợp lý và bảo mật thông tin sẽ thể hiện sự quan tâm của <strong>Sixty.vn</strong>&nbsp;dành cho bạn. Vì thế, <strong>Sixty.vn</strong><span style="color:#555555; line-height:normal">&nbsp;</span>cam kết việc sử dụng thông tin trên sẽ chỉ nhằm nâng cao chất lượng dịch vụ khách hàng và tạo môi trường&nbsp;mua sắm trực tuyến<a href="http://sieuthilala.com/" style="color: rgb(21, 142, 194); box-sizing: border-box; text-decoration: none; background: transparent;" title="mua sắm trực tuyến">&nbsp;</a>an tòan, tiện lợi tại <strong>Sixty.vn</strong>. Cụ thể, thông tin của bạn chỉ dùng để:</span></span></p>

        <p style="margin-left:20px; text-align:justify"><span style="font-size:18px"><span style="font-family:times new roman,times,serif"><span style="box-sizing:border-box">1. Cung cấp một số tiện ích, nâng cao chất lượng dịch vụ hỗ trợ khách hàng​</span></span></span></p>

        <p style="margin-left:20px; text-align:justify"><span style="font-size:18px"><span style="font-family:times new roman,times,serif"><span style="box-sizing:border-box">2. Giải quyết các vấn đề, tranh chấp phát sinh liên quan đến việc sử dụng website </span><strong>Sixty.vn</strong></span></span></p>

        <p style="margin-left:20px; text-align:justify"><span style="font-size:18px"><span style="font-family:times new roman,times,serif"><span style="box-sizing:border-box">3. Ngăn chặn những hoạt động vi phạm pháp luật Việt Nam</span></span></span></p>

        <p style="margin-left:20px; text-align:justify"><span style="font-size:18px"><span style="font-family:times new roman,times,serif">4. <strong>Sixty.vn</strong><span style="color:#555555; line-height:normal">&nbsp;</span><span style="box-sizing:border-box">cam đoan sẽ không bán, chia sẻ dẫn đến làm lộ thông tin cá nhân của bạn vì mục đích thương mại vi phạm cam kết của chúng tôi ghi trong chính sách bảo mật này. Tất cả thông tin giao dịch giữa bạn và </span><strong>Sixty.vn</strong><span style="box-sizing:border-box"> sẽ được bảo mật qua phần mềm mã hóa tất cả thông tin bạn nhập vào.</span></span></span></p>

        <p style="margin-left:20px; text-align:justify"><span style="font-size:18px"><span style="font-family:times new roman,times,serif"><span style="box-sizing:border-box">5. Tuy nhiên, bạn không nên trao đổi những thông tin thanh toán, giao nhận của mình cho 1 bên thứ 3 nào khác để tránh rò rỉ thông tin. Khi sử dụng chung máy tính với nhiều người, vui lòng thoát khỏi tài khoản mỗi khi không sử dụng dịch vụ của </span><strong>Sixty.vn</strong><span style="box-sizing:border-box"> nữa để tự bảo vệ thông tin về mật khẩu truy cập của mình.</span></span></span></p>

        <p style="margin-left:20px; text-align:justify"><span style="font-size:18px"><span style="font-family:times new roman,times,serif"><span style="box-sizing:border-box">6. Ngoài ra, bạn tuyệt đối không được sử dụng bất kỳ hình thức nào để can thiệp vào hệ thống hay làm thay đổi cấu trúc dữ liệu. Chúng tôi nghiêm cấm việc phát tán, truyền bá hay cổ vũ cho bất kỳ hoạt động nào nhằm can thiệp, phá hoại hay xâm nhập vào dữ liệu của hệ thống website. Mọi vi phạm sẽ bị tước bỏ mọi quyền lợi cũng như sẽ bị truy tố trước pháp luật nếu cần thiết. Mọi thông tin của bạn tại </span><strong>Sixty.vn</strong><span style="color:#555555; line-height:normal">&nbsp;</span><span style="box-sizing:border-box">sẽ được chúng tôi bảo mật nhưng trong trường hợp pháp luật yêu cầu, chúng tôi buộc phải cung cấp thông tin này cho cơ quan pháp luật</span></span></span></p>

        <p style="margin-left:20px; text-align:justify"><span style="font-size:18px"><span style="font-family:times new roman,times,serif">7.<strong> Sixty.vn</strong><span style="box-sizing:border-box"> hiểu rằng quyền lợi của bạn trong việc bảo vệ thông tin cá nhân cũng chính là trách nhiệm của chúng tôi nên trong bất kỳ trường hợp có thắc mắc, góp ý nào liên quan đến chính sách bảo mật của </span><strong>Sixty.vn</strong><span style="box-sizing:border-box">, vui lòng liên hệ qua số điện thoại:&nbsp;0973711868&nbsp; hoặc email: cskh@Sixty.vn</span></span></span></p>
    </div>
</div>

<div id="content" class="col-sm-12">
    <h1 class="title page-title"><i class="fa fa-info-circle"></i>Chính sách bảo hành, đổi hàng</h1>

    <div class="content">
        <p><span style="font-size:16px"><span style="font-family:Times New Roman,Times,serif"><strong>I. Chính sách bảo hành sản phẩm</strong></span></span></p>

        <p><span style="font-size:16px"><span style="font-family:Times New Roman,Times,serif"><em><strong><span style="text-align:justify">Sixty.vn cam kết tất cả các sản phẩm là hàng chính hãng 100%! </span></strong></em></span></span></p>

        <p><span style="font-size:16px"><span style="font-family:Times New Roman,Times,serif"><span style="text-align:justify">Trong quá trình sử dụng, nếu phát hiện sản phẩm có những vấn đề do lỗi của nhà sản xuất. Thời gian bảo hành trong vòng 06 tháng kể từ ngày mua (chỉ bảo hành các lỗi như bong keo, sứt chỉ). </span></span></span></p>

        <p><span style="font-size:16px"><span style="font-family:Times New Roman,Times,serif"><span style="text-align:justify">Lưu ý: Sixty.vn sẽ không bảo hành nếu quý khách tự ý thay đổi, sửa chữa và tác động vào sản phẩm hoặc không làm theo phương pháp bảo quản, cách sử dụng dẫn đến sản phẩm bị hư hại.</span></span></span></p>

        <p><span style="font-size:16px"><span style="font-family:Times New Roman,Times,serif"></span></span></p>

        <p><span style="font-size:16px"><span style="font-family:Times New Roman,Times,serif"><strong>II. Chính sách đổi hàng và hoàn tiền</strong></span></span></p>

        <p><span style="font-size:16px"><span style="font-family:Times New Roman,Times,serif"><span style="text-align:justify">- Sixty.vn đổi hàng trong 30 ngày kể từ ngày Quý khách nhận hàng đối với sản phẩm chưa sử dụng còn nguyên vẹn như lúc nhận hàng (nguyên hộp, tem, mác, hóa đơn, thẻ bảo hành,...).</span></span></span></p>

        <div style="text-align:justify"><span style="font-size:16px"><span style="font-family:Times New Roman,Times,serif">- Sixty.vn hoàn tiền 200% cho Quý khách nếu Quý khách phát hiện hàng giả, hàng nhái.</span></span></div>

        <div style="text-align:justify"><span style="font-size:16px"><span style="font-family:Times New Roman,Times,serif"></span></span></div>

        <div style="text-align:justify"><span style="font-size:16px"><span style="font-family:Times New Roman,Times,serif"><em>Mọi thông tin về việc bảo hành, đổi hàng Quý khách vui lòng liên hệ với bộ phận chăm sóc khách hàng của Sixty.vn.</em></span></span></div>

        <div style="text-align:justify"><span style="font-size:16px"><span style="font-family:Times New Roman,Times,serif"><em>Số điện thoại: 0903479488</em></span></span></div>

        <div style="text-align:justify"><span style="font-size:16px"><span style="font-family:Times New Roman,Times,serif"><em>Email: cskh@Sixty.vn</em></span></span></div>

        <div style="text-align:justify"><span style="font-size:16px"><span style="font-family:Times New Roman,Times,serif"></span></span></div>

        <p>&nbsp;</p>
    </div>
</div>

@*đổi tất cả thành col-sm-24*@
@*sửa lại khoảng trắng ở dưới *@
<div id="content" class="col-sm-24">
    <h1 class="title page-title"><i class="fa fa-info-circle"></i>Hướng dẫn chọn size giày chuẩn phù hợp</h1>

    <p>     Chọn giày sao cho vừa và thoải mái bàn chân khi đi đứng là vấn đề của không chỉ riêng ai. Sau đây hãy cùng tham khảo cách chọn size giày phù hợp với đôi chân của mình nhé!</p>
    <p>
        Xu hướng mua sắm online đang ngày càng phổ biến, vì thế các món hàng như quần áo, giày dép, việc chọn size sao cho vừa vặn khi không được trực tiếp thử đồ là vấn đề được nhiều người tiêu dùng online quan tâm.

        Sau đây là bảng đo size giày chuẩn và bảng size giày của Nike một trong những nhãn hàng nổi tiếng
    </p>
    <div style="display: flex; align-items: center;">
        <img src="https://myshoes.vn/image/cache/catalog/banner/chon-size-500x620.png" style="flex: 0 0 auto; margin-right: 10px;" />
        <div style="flex: 1;">

            <img src="https://cdn.tgdd.vn/Files/2021/04/08/1341628/huong-dan-chon-size-giay-chuan-phu-hop-voi-moi-doi-chan-202104080233095948.jpg" style="flex: 0 0 auto; margin-left: 10px;" />
            <div style="flex: 1;">
            </div>
        </div>
    </div>
</div>
