@{
    ViewData["Title"] = "Danh sách yêu thích trống";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* <h1>NullWL</h1> *@

<div class="d-flex justify-content-center align-items-center" style="margin-top: 120px; min-height: calc(100vh - 120px);">
    <div class="text-center">
        <h1>Danh sách yêu thích đang trống!</h1>
        <a asp-action="Index" asp-controller="Product" class="btn btn-primary">Xem sản phẩm</a>
    </div>
</div>